html {
      max-height: 100vh;
      min-height: 100vh;
      height: 100%;
}

body {
      background-image: url("assets/background2.jpg");
      background-size: cover;
      background-position: center;
      background-color: black;
      height: 100%;
      color: white;
}

#pseudo-body {
      background: rgba(0, 0, 0, 0.9);
      height: 100%;
}

#graphic{
      width: 300px;
      height: 300px;
}

div {
      padding: 10px;
      margin: 0;
}

h1 {
      color: white;
      font-family: 'Press Start 2P', cursive;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      /* box-shadow: 5px 5px 5px; */
}

.specialrow {
      height: 75px;
}

.container {
      /* background-color: #A7CBEA; */
      /* box-shadow: 5px 5px 5px; */
      /* min-width: 50%; */
      max-width: 500px;
      width: 80%;
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid black;
      background-image: url("assets/background.jpg");
      /* background-size: cover; */
      background-position: center;
}

input, button {
      border-radius: 5px;
      padding: 5px;
}

input {
      width: 190px;
}

button {
      width: 100px;
}

.superdiv {
      height: 70px;
}

img {
      border: 3px solid gray;
      border-radius: 5px;
}